<!DOCTYPE html>
<html>
  <head>
    <title>Inspiration</title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<body>
  <header>
    <div class="header">
      <nav class="light-blue lighten-1" role="navigation">
        <div class="main nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">Inspirational Guide for the Soul</a>
          <ul class="right">
            <li>
              <a class="redirect">Home</a>
            </li>
            <li>
              <a class="redirect" data-url="/quotes">Quotes</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <section class="container"> 
    <%= yield %>
  </section>
</body>
</html>
