<!DOCTYPE html>
<html>
  <head>
    <title>Inspiration</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<body>
  <header>
    <div class="logo"></div>
    <div class="header">
    <h1>Inspirational Guide for the Soul</h1>  
      <nav class="main">
        <ul>
          <li>
            <button class="redirect">Home</button>
          </li>
          <li>
            <button class="redirect" data-url="/quotes">Quotes</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="content">
    <%= yield %>
  </section>
</body>
</html>
